<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>I am the title</title>
        <link rel="stylesheet" href=/static/css/main.css />
    </head>
    <body>
      <h3> Welcome! This website can provide information on Zillow Home Value Index (ZHVI, monthly median home value estimated by Zillow). </h3>
      <h3> When deciding on buying a house, one wants to know the historical and predicted price movement in the region.  </h3>
      <h3> In the plot below, for a given county, one can see the historical prices (and prediced prices for some counties). </h3>
      <h3> I hope this website has been useful, and you enjoyed it. </h3>  
      <h3> Data here are provided by Zillow, Inc </h3>                  
      {{bokeh_script|safe}}
      
    </body>
</html>
